# Project 01: AKcelerateHQ Lead Generation Engine

GOOGLE_FORM_EDIT_URL=https://docs.google.com/forms/d/1_AVbRMX2Zg6QNvDy--bsAelCtkCoHuaPF0LdmwLokok/edit
GOOGLE_SHEET_ID=YOUR_GOOGLE_SHEET_ID
GOOGLE_SHEET_RESPONSE_TAB=Form responses 1
GOOGLE_SHEET_PROPOSAL_LOG_TAB=Proposal Log

GMAIL_FROM=hello@akceleratehq.com
OPENAI_API_KEY=YOUR_OPENAI_API_KEY
WASSENGER_API_TOKEN=YOUR_WASSENGER_API_TOKEN
WHATSAPP_PROVIDER=Wassenger
